@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer utilities {
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
  .moviebox-shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .shadow {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
  /* styles.css or tailwind.css */
  .custom-scrollbar {
    scrollbar-width: none; 
    -webkit-scrollbar-width: none; 
    -ms-overflow-style: none;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
}
